<div class="footer">
    <h1><span class="visionary">Visionary</span><span class="vibes">Vibes</span></h1>
    <p>Venturing into the Depths of Creativity</p>
    <div class="contact-no">
        <i class='bx bx-phone'></i>
        <h4>+ (123) 456 789</h4>
    </div>
    <div class="email">
        <i class='bx bx-envelope'></i>
        <h4>deepakrajput058@gmail.com</h4>
    </div>
    <div class="social-media">
        <a href="#"><i class='bx bxl-linkedin-square'></i></a>
        <a href="#"><i class='bx bxl-instagram-alt'></i></a>
        <a href="#"><i class='bx bxl-twitter'></i></a>
        <a href="#"><i class='bx bxl-facebook-square'></i></a>
    </div>
</div>