<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-App</title>
    <!-- box icon cdn -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <%- include('partials/navbar') %>
        <section id="home">
            <div class=" container">
                <div class="app-slogan-container">
                    <h1>"Words that <span class="connect">Connect,</span> <span class="ideas">Ideas</span> that
                        Resonate"
                    </h1>
                    <h4>Let Your Imagination Roam Free</h4>
                    <a href="/api/v1/posts/get-post-form" class="create-btn">create new post</a>
                    <!-- <img src="/images/blob.svg" class="blob"></img> -->
                </div>
                <div class="latest-posts-container">
                    <div class="blogs-label">
                        <i class='bx bxs-edit-alt'></i>
                        <h2>Latest Posts (07)</h2>
                    </div>
                    <h5 class="post-subtitle">"Stay Ahead of the Curve, Engage with Our Latest Posts"</h5>
                    <%- include('partials/latest-posts') %>
                </div>
                <%- include('partials/footer') %>
            </div>
        </section>








        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</body>

</html>